<form action="/auth/signup" method="post">
  <div class="personalize-container">
    <select id="location-select">
      <option value="1" name="country">Germany</option>
      <option value="2" name="country">Nigeria</option>
      <option value="3" name="country">Poland</option>
      <option value="4" name="country">France</option>
      <option value="5" name="country">UK</option>
    </select>

    <select id="industry-select">
      <option value="1" name="industry">Software Development</option>
      <option value="2" name="industry">Fintech</option>
      <option value="3" name="industry">Quantum Physics</option>
    </select>

    <button type="submit">Create account</button>
  </div>
</form>