<form action="/auth/personalize" method="post">
  <div class="personalize-container">
    <select name="country" id="location-select">
      <option value="germany">Germany</option>
      <option value="nigeria">Nigeria</option>
      <option value="poland">Poland</option>
      <option value="france">France</option>
      <option value="uk">UK</option>
    </select>

    <select name="industry" id="industry-select">
      <option value="software development">Software Development</option>
      <option value="fintech">Fintech</option>
      <option value="quantum physics">Quantum Physics</option>
    </select>

    <button type="submit">Create account</button>
  </div>
</form>



<canvas id="dashboardChart"></canvas>