<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <div class="navbar-fixed">
    <nav class="body-container nav-extended">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">npApp</a>
        <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-items" class="right hide-on-med-and-down">
          <li><a href="/add-project/{{User._id}}">Create Project</a></li>
          <li><a href="badges.html">View Projects</a></li>
          <li><a href="collapsible.html">Add User</a></li>
          <li><a href="/news">News</a></li>
          <li><a href="/auth/logout">Logout</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <ul class="sidenav" id="mobile-nav">
    <li><a href="/add-project/{{User._id}}">Create Project</a></li>
    <li><a href="badges.html">View Projects</a></li>
    <li><a href="collapsible.html">Add User</a></li>
    <li><a href="collapsible.html">newsBoard</a></li>
  </ul>

  <div class="body-container">
    {{{body}}}
  </div>
  <script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/javascripts/dashboard.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="/javascripts/script.js"></script>
  <script src="/javascripts/news-widget.js"></script>
</body>

</html>