<div class="landing-banner">

  <div class="banner-text">
    <h1>Get More Done!</h1>
    <p>With {{title}} you can now get more done, manage teams, projects and stay updated with relevant news!</p>
    <a class="pmApp-button" href="/auth/signup">Create an Account</a>
  </div>
  <div class="banner-img">
    <img src="https://res.cloudinary.com/nthnh/image/upload/v1555697300/pmApp/landing-img_skced2.svg"
      alt="landingImage">
  </div>
</div>