<h1>Project Title</h1>


<div class="flexed-row">
  <form action="" method="POST" id="projectTitle">
    <input type="text" name="projectName" required id="projectName">
    <label for="projectName">Project Title</label>
    </button>
    <button class="btn" type="submit" name="saveProjectTitle">Save Project Title
  </form>
  <button id="newAddTask" class="btn disabled">Add Task</button>
</div>
<div class="created-tasks">
</div>
<div id="formContainer">
</div>
<button id="saveProject" class="btn display-hide">Save Project</button>