<section class="flexed-row">
  <div class="banner-text">
    <h1>Welcome {{User.name}}</h1>
    <p>Here is a breakdown of your Projects...</p>
  </div>
  <div class="chart-box">
    <canvas id="dashboardChart" width="100%" height="100%"></canvas>
  </div>
</section>

<ul id="newsArticleInput"></ul>