<section class="flexed-row">
  <div class="banner-text">
    <h1>Welcome {{User.name}}</h1>
    <p>Here is a breakdown of your Projects...</p>
  </div>
  <div class="chart-box">
    <canvas id="dashboardChart" width="100%" height="100%"></canvas>
  </div>
</section>

<ul id="newsArticleInput"></ul>

{{!-- News ticker --}}
<div class="breaking-news-ticker" id="ticker">
  <div class="bn-news">
    <ul>
      <li><span class="bn-loader-text">Loading...</span></li>
    </ul>
  </div>
  <div class="bn-controls">
    <button><span class="bn-arrow bn-prev"></span></button>
    <button><span class="bn-action"></span></button>
    <button><span class="bn-arrow bn-next"></span></button>
  </div>
</div>