<div class="banner-text">
  <h1>Get More Done!</h1>
  <p>With {{title}} you can now get more done, manage teams, projects and stay updated with relevant news!</p>
  <a class="pmApp-button" href="/auth/signup">Create an Account</a>
</div>